/* STYLES */

body {
	background-color: #f57085 ;
}

.top-title, .sub-title {
	width: 100%;
	font-size: 4em;	
	text-align: center;
	color: #fefefe;
	display: inline-block;
	font-family: 'Pacifico', cursive;
	display: none;
}

.top-title {
	margin-top: 100px;
}

.sub-title {
	margin-top: 650px;
}

/* SVG ANIMATE */

.logo-outline, .full-face {
	position: absolute;
	top: 220px;
	left: 0;
	right: 0;
	width: 520px;
	height: 640px;
	overflow: hidden;
	margin: 0 auto;
}


.pug-outline, .muzzle-outline, .tophat {
	animation: dash 1s linear forwards;	
}
.pug-outline {
	stroke-dasharray: 12500;
	stroke-dashoffset: 12500;
}

.muzzle-outline {
	stroke-dasharray: 4050;
	stroke-dashoffset: 4050;
}

.tophat {
	stroke-dasharray: 7000;
	stroke-dashoffset: 7000;
}

.full-face {
	display: none;
}

@keyframes dash {
	to {
		stroke-dashoffset: 0;
	}
}